<StackLayout #container>

  <Image src="res://pointstoplogowithtxt" class="logotext" stretch="none" horizontalAlignment="center"></Image>
  <Label class="h1 headding text-center" text="Terms and Conditions"></Label>
  <Label class="h2 text-center" style="margin-top:20;" text="Do you agree with our"></Label>
  <Label class="h2 text-center" color="#13acb7" style="text-decoration:underline;" text="Terms and Conditions?"></Label>
  <CheckBox #CB1 text="Agree" style="margin-top:20;" color="#fff" fontSize="30" tintColor="#fff" onTintColor="#fff" onCheckColor="#fff" checked="false" fillColor="#13acb7" horizontalAlignment="center"></CheckBox>

  <Button [text]="'GO!'" style="padding: 20; color: white; font-size:20; margin-top:30;" (tap)="homePage()"></Button>


</StackLayout>
