<StackLayout #container>

  <WrapLayout orientation="horizontal" style="padding-top:30;background-color:#222;width:100%" horizontalAlignment="center">
    <Label class="h3 text-center" style="color:white;width:20%" horizontalAlignment="left" text="Back" col="1" (tap)="goBack()"></Label>
    <Label class="h2 text-center" style="color:white;width:60%;" horizontalAlignment="center" text="Add Campaign" col="0"></Label>
      <Label class="h3 text-center" style="color:white;width:20%;" horizontalAlignment="right" text="Next" col="1" (tap)="nextPage()"></Label>
  </WrapLayout>

    <StackLayout class="input-field" margin="10">
      <Label text="Search by Address" class="label font-weight-bold m-b-5"></Label>
      <TextField class="input" style="color:black;" [text]="startLocationAddress" (textChange)="locationSearchFromInput($event)"></TextField>
      <StackLayout *ngFor="let place of searchResults | async; let i = index">
        <Label [text]="place" color="black" (tap)="selectPlaceFromAutocompleteList(i, 'startLocation')"></Label>
      </StackLayout>
      <StackLayout class="hr-light"></StackLayout>
    </StackLayout>

    <GridLayout height="40%">
      <MapView #mapView2 [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [bearing]="bearing" [tilt]="tilt" i-padding="50,50,50,50" [padding]="padding" (mapReady)="onMapReady($event)" (markerSelect)="onMarkerEvent($event)" (markerBeginDragging)="onMarkerEvent($event)"
        (markerEndDragging)="onMarkerEvent($event)" (markerDrag)="onMarkerEvent($event)" (markerInfoWindowTapped)="onMarkerEvent($event)" (coordinateTapped)="onCoordinateTapped($event)" (cameraChanged)="onCameraChanged($event)"></MapView>
    </GridLayout>


    <StackLayout margin="10">
      <Label class="h3" style="color:black; white-space:normal" text="31 Avonlea Blvd, Toronto, ON M4C 5E4, Canada"></Label>
      <Label class="h4" style="color:black;  white-space:normal" [text]="latitude + ', ' + longitude"></Label>
    </StackLayout>
    <StackLayout style="background-color:#ccc; height:1; margin-top:15;">

    </StackLayout>
    <GridLayout rows="auto auto" columns="50 * 50" margin="10">
     <Label row="0" colSpan="3" text="Radius" textWrap="true"></Label>
     <Label row="1" col="0" text="15" textWrap="true" fontSize="15"></Label>
     <Slider row="1" col="1" value="20" (valueChange)="onSecondSliderChange($event)" minValue="15" maxValue="100"></Slider>
     <Label row="1" col="2" text="100" textWrap="true" fontSize="20"></Label>
   </GridLayout>



</StackLayout>
