<StackLayout #container style="background-color:#efefef">

  <WrapLayout orientation="horizontal" style="padding-top:30;background-color:#222;width:100%" horizontalAlignment="center">
    <Label class="h3 text-center" style="color:white;width:20%" horizontalAlignment="left" text="Back" col="1" (tap)="goBack()"></Label>
    <Label class="h2 text-center" style="color:white;width:60%;" horizontalAlignment="center" text="Add Campaign" col="0"></Label>
      <Label class="h3 text-center" style="color:white;width:20%;" horizontalAlignment="right" text="Next" col="1"></Label>
  </WrapLayout>

  <StackLayout  margin="10" style="background-color:#fff">
    <GridLayout rows="auto auto auto auto auto auto" columns="50 * 50" margin="10" >
     <Label row="0" colSpan="3" text="Campaingn Name" textWrap="true"></Label>
     <TextField row="1" colSpan="3" class="input text-center" style="color:black; background-color:#efefef;" [text]="startLocationAddress" hint="Campaign Name Is Here"></TextField>
     <Label row="2" colSpan="3" text="Start of campaign" textWrap="true" marginTop="10"></Label>

     <TextField row="3" colSpan="3" class="input" style="color:black; background-color:#efefef;" [text]="startLocationAddress" hint="- Date and time -" ></TextField>
     <Label row="4" colSpan="3" text="End of campaign" textWrap="true" marginTop="10"></Label>
     <TextField row="5" colSpan="3" class="input" style="color:black; background-color:#efefef;" [text]="startLocationAddress" hint="- Date and time -"></TextField>

   </GridLayout>
  </StackLayout>

  <StackLayout  margin="10" style="background-color:#fff">
    <GridLayout rows="auto auto auto" columns="50 * 50" margin="10" >
     <Label row="0" colSpan="3" text="The amount of points" textWrap="true"></Label>
     <Label row="1" col="0" text="10" textWrap="true" fontSize="15"></Label>
     <Slider row="1" col="1" value="50" (valueChange)="onSecondSliderChange($event)" minValue="10" maxValue="100"></Slider>
     <Label row="1" col="2" text="100" textWrap="true" fontSize="20"></Label>
     <Label row="2" colSpan="3" [text]="points" class="text-center" textWrap="true"></Label>

   </GridLayout>
  </StackLayout>





</StackLayout>
