.logotext {
    margin-top: 50;
}

.headding {
    margin-top: 70;
    color: white;
    margin-right: 30;
    margin-left: 30;
    font-weight: 700;
    white-space: normal;
}

.text {
    color: white;
    margin: 30;
    white-space: normal;
}

.bottomBtn {
    position: absolute;
    bottom: 0;
}

.round-button {
    background-color: #fff;
    color: #13acb7;
    border-radius: 50%;
    font-size: 20;
    padding: 10;
    white-space: normal;
    margin-top: 20;
    margin-left: 30;
    margin-right: 30;
}

.disabled-profile {
    background-color: rgba(19, 172, 183, 0.62);
    color: rgba(255, 255, 255, 0.78);
}

.disabled {
    background-color: rgba(255, 255, 255, 0.62);
    color: rgba(19, 172, 183, 0.78);
}

.circle1 {
    width: 25%;
    border-radius: 100%;
    border-width: 1;
    border-color: #fff;
    height: 100;
    white-space: normal;
    background-color: #13acb7;
}

.circle2 {
    width: 45%;
    border-radius: 100%;
    border-width: 1;
    border-color: #fff;
    height: 170;
    white-space: normal;
    background-color: #27d5e1;
}

.profileCircle {
    width: 35%;
    border-radius: 100%;
    border-width: 1;
    border-color: #27d5e1;
    height: 130;
    white-space: normal;
}

.greyBg {
    border-width: 2;
    background-color: #ccc;
}

.newColor {
    background-color: #2de3f0;
}

.blink {
    animation-name: blink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.hidden {
    visibility: collapse;
    opacity: 0;
}

.show {
    visibility: visible;
    opacity: 1;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.listItemStackLayout {
    background-color: white;
    padding-left: 5;
}

.labelName {
    font-size: 20;
    margin-bottom: 4;
    margin-top: 8;
    /*color: #17adbc;*/
    font-weight: 700;
}

.labelTitle {
    font-size: 14;
    font-weight: 300;
    margin-bottom: 4;
}

.labelText {
    font-size: 12;
    font-weight: 300;
    margin-bottom: 4;
    color: #686868;
}

.borderBottom {
    border-width: 5;
    border-color: #686868;
}

.listItemSwipeGridLayout {
    background-color: white;
}

.listItemSwipeGridLayout label {
    font-size: 20;
}

.markViewStackLayout {
    background-color: #17adbc;
    padding: 16;
}

.deleteViewStackLayout {
    background-color: #17adbc;
    padding: 16;
}