<GridLayout rows="*, auto">

    <!-- Dashboard -->
    <StackLayout row="0" orientation="vertical" [class.hidden]="dashboard" [class.show]="!dashboard">
        <WrapLayout orientation="horizontal" style="margin-top:10;" horizontalAlignment="center">
            <Label class="h2 text-center" style="color:white;" text="Welcome to"></Label>
            <Image src="res://pslogotext" stretch="aspectFit" height="30" style="margin-left:10;"></Image>
        </WrapLayout>
        <Label class="h2 text-center" style="color:white;" fontWeight="700" text="Person Name"></Label>
        <WrapLayout orientation="horizontal" style="margin-top:30; margin-bottom: 20;" horizontalAlignment="center">
            <Label paddingTop="30" fontWeight="700" class="h3 text-center circle1" style="color:white; " text="7th Position"></Label>
            <Label paddingTop="35" class="h2 text-center circle2 blink" style="color:white;" text="Searching for campaings"></Label>
            <Label paddingTop="20" fontWeight="700" class="h3 text-center circle1 newColor" style="color:white;" text="1080 this month"></Label>
        </WrapLayout>
        <StackLayout marginLeft="20" marginRight="20" marginTop="5" marginBottom="25">
            <Button [text]="'Explore More PointStops'" class="round-button" (tap)="submit()"></Button>
            <Button [text]="'Cash Out'" class="round-button disabled"></Button>
        </StackLayout>
    </StackLayout>
    <!-- Dashboard End-->

    <!-- Explore -->
    <StackLayout marginTop="10" row="0" orientation="vertical" [class.hidden]="explore" [class.show]="!explore" style="background-color:#fff">
        <WrapLayout orientation="horizontal" style="padding-top:30;background-color:#222;width:100%" horizontalAlignment="center">
            <Label class="h3 text-center" style="color:white;width:20%" horizontalAlignment="left" text="" col="1"></Label>
            <Label class="h2 text-center" style="color:white;width:60%;" horizontalAlignment="center" text="Explore PointStops" col="0"></Label>
            <Image src="res://explorewhite" style="color:white;width:20%;" height="20" horizontalAlignment="right" col="1" stretch="aspectFit"></Image>

        </WrapLayout>
        <GridLayout>
            <MapView #mapView [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [bearing]="bearing" [tilt]="tilt" i-padding="50,50,50,50" [padding]="padding" (mapReady)="onMapReady($event)" (markerSelect)="onMarkerEvent($event)" (markerBeginDragging)="onMarkerEvent($event)"
                (markerEndDragging)="onMarkerEvent($event)" (markerDrag)="onMarkerEvent($event)" (markerInfoWindowTapped)="onMarkerEvent($event)" (coordinateTapped)="onCoordinateTapped($event)" (cameraChanged)="onCameraChanged($event)"></MapView>
        </GridLayout>
    </StackLayout>
    <!-- Explore End -->

    <!-- My Campaings -->
    <StackLayout row="0" orientation="vertical" [class.hidden]="campaings" [class.show]="!campaings" style="background-color:#fff">
        <WrapLayout orientation="horizontal" style="padding-top:30;background-color:#222;width:100%" horizontalAlignment="center">
            <Label class="h3 text-center" style="color:white;width:20%" horizontalAlignment="left" text="" col="1"></Label>
            <Label class="h2 text-center" style="color:white;width:60%;" horizontalAlignment="center" text="My Campaings" col="0"></Label>
            <Label class="h3 text-center" style="color:white;width:20%" horizontalAlignment="right" text="Add" col="1" (tap)="addCampaign()"></Label>
            <!-- <Image src="res://explorewhite" style="color:white;width:20%;" height="20" horizontalAlignment="right" col="1" stretch="aspectFit" (tap)="addCampaign()"></Image> -->
        </WrapLayout>
        <GridLayout tkExampleTitle tkToggleNavButton style="margin-right: 10; margin-left: 10;">
            <RadListView id="listView" [items]="dataItems" itemSwipe="true" selectionBehavior="None" (itemSwipeProgressStarted)="onSwipeCellStarted($event)" (itemSwipeProgressChanged)="onCellSwiping($event)" (itemSwipeProgressEnded)="onSwipeCellFinished($event)"
                (itemTap)="onItemClick($event)">
                <ng-template tkListItemTemplate let-item="item">
                    <StackLayout>
                        <StackLayout class="listItemStackLayout" orientation="horizontal">
                            <StackLayout orientation="vertical" width="70%">
                                <Label class="labelName" [text]="item.name"></Label>
                                <Label class="labelTitle" [text]="item.location"></Label>
                                <StackLayout orientation="horizontal">
                                    <Label class="labelText" [text]="item.status"></Label>
                                    <StackLayout style="background-color:#ccc; width:1; margin-left:4; margin-right:4; margin-top:2; margin-bottom:4;">

                                    </StackLayout>
                                    <Label class="labelText" [text]="item.start"></Label>
                                    <Label class="labelText" text=" - "></Label>
                                    <Label class="labelText" [text]="item.end"></Label>
                                </StackLayout>

                            </StackLayout>
                            <StackLayout class="text-right" orientation="vertical" width="30%">
                                <Label class="labelName text-right" [text]="'$'+item.price"></Label>
                                <Label class="labelTitle text-right" [text]="item.points"></Label>
                                <Label class="labelText text-right" [text]="'points remaining'"></Label>
                            </StackLayout>
                        </StackLayout>
                        <StackLayout style="background-color:#ccc; height:1; margin-top:8;">
                        </StackLayout>
                    </StackLayout>
                </ng-template>

                <GridLayout *tkListItemSwipeTemplate columns="auto, *, auto" class="listItemSwipeGridLayout">
                    <StackLayout id="mark-view" class="markViewStackLayout" col="0" (tap)="onLeftSwipeClick($event)">
                        <Label text="" verticalAlignment="center" horizontalAlignment="center"></Label>
                    </StackLayout>
                    <StackLayout id="delete-view" class="deleteViewStackLayout" col="2" (tap)="onRightSwipeClick($event)">
                        <Label text="" verticalAlignment="center" horizontalAlignment="center"></Label>
                    </StackLayout>
                </GridLayout>


            </RadListView>
        </GridLayout>
    </StackLayout>
    <!-- My Campaings End -->

    <!-- Profile -->
    <ScrollView>
        <StackLayout row="0" orientation="vertical" [class.hidden]="profile" [class.show]="!profile" style="background-color:#fff">

            <WrapLayout orientation="horizontal" style="padding-top:30;background-color:#222;width:100%" horizontalAlignment="center">
                <Label class="h3 text-center" style="color:white;width:20%" horizontalAlignment="left" text="" col="1"></Label>
                <Label class="h2 text-center" style="color:white;width:60%;" horizontalAlignment="center" text="Profile" col="0"></Label>
                <Label class="h3 text-center" style="color:white;width:20%" horizontalAlignment="right" [text]="loggedIn ? 'Log Out' : 'Log In'" col="1" (tap)="logIn()"></Label>
            </WrapLayout>
            <Label class="h2 text-center" style="color:#222; margin-top:10;" fontWeight="300" [text]="loggedIn ? 'Khalid Al Horani' : 'Your Name'"></Label>
            <AbsoluteLayout orientation="horizontal" style="margin-top:10; margin-bottom: 10; " horizontalAlignment="center">
                <StackLayout orientation="vertical" class="profileCircle" verticalAlignment="center">
                    <Label class="h2 text-center" style="color:#17adbc; font-weight:800; white-space:normal;" [text]="loggedIn ? '18000' : '0'"></Label>
                    <Label class="h3 text-center" style="color:#bdbebf; white-space:normal;" text="Total Points Collected"></Label>
                </StackLayout>
                <StackLayout orientation="vertical" left="230" class="profileCircle" verticalAlignment="center">
                    <Label class="h2 text-center" style="color:#17adbc; font-weight:800; white-space:normal;" [text]="loggedIn ? '$30' : '$0'"></Label>
                    <Label class="h3 text-center" style="color:#bdbebf; white-space:normal;" text="Total Amount Collected"></Label>
                </StackLayout>
                <StackLayout orientation="vertical" left="110" class="profileCircle greyBg" verticalAlignment="center">
                </StackLayout>
            </AbsoluteLayout>
            <Label class="h2 text-center" style="color:#222; white-space:normal;" fontWeight="700" [text]="loggedIn ? 'Balance: 12000 points' : 'Balance: 0 points'"></Label>
            <Button [text]="loggedIn ? 'Redeem: 12000 Points' : 'Redeem: 0 Points'" class="round-button disabled-profile"></Button>
            <StackLayout style="background-color:#ccc; height:1; margin-top:15;">

            </StackLayout>
            <StackLayout style="background-color:#e2e2e2;" [class.hidden]="!loggedIn" [class.show]="loggedIn">
                <Label class="h2 text-left" style="color:#222; white-space:normal; margin:5; margin-left:10;" fontWeight="300" text="Transaction History"></Label>
            </StackLayout>
            <StackLayout style="background-color:#ccc; height:1;" [class.hidden]="!loggedIn" [class.show]="loggedIn">

            </StackLayout>
            <ScrollView>
                <StackLayout orientation="vertical" verticalAlignment="center" style="margin-top:40; margin-right:40; margin-left: 40;" [class.hidden]="loggedIn" [class.show]="!loggedIn">
                    <Label class="h2 text-center" style="color:#17adbc; white-space:normal;" fontWeight="500" text="To activate all features, please log in with Facebook and enjoy"></Label>
                    <Image src="res://pointstopgreen" style="margin-top:15;" stretch="aspectFit" height="50"></Image>
                </StackLayout>
            </ScrollView>
        </StackLayout>
    </ScrollView>
    <!-- Profile End -->



    <BottomBar row="1" [items]="items" [hide]="hidden" [titleState]="titleState" (loaded)="tabLoaded($event)" (tabSelected)="tabSelected($event)" [inactiveColor]="inactiveColor" [accentColor]="accentColor" [uncoloredBackgroundColor]="uncoloredBackgroundColor"></BottomBar>

</GridLayout>