.logotext {
    margin-top: 20;
}

.headding {
    margin-top: 30;
    color: white;
    margin-right: 30;
    margin-left: 30;
    font-weight: 700;
    white-space: normal;
}

.text {
    color: white;
    margin: 30;
    white-space: normal;
}

.bottomBtn {
    position: absolute;
    bottom: 0;
}