<StackLayout #container>

    <GridLayout margin="0,0,0,0" height="100%">
        <ns:Carousel #Carousel height="100%" color="white" (pageChanged)="myChangeEvent($event)" pageTapped="mySelectedEvent" indicatorColor="#fff" finite="true" bounce="false" showIndicator="true" verticalAlignment="top" android:indicatorAnimation="swap">
            <ns:CarouselItem id="slide1" backgroundColor="#b3cde0" backgroundImage="res://tscreen1">
                <Image src="res://pointstoplogowithtxt" class="logotext" stretch="none" horizontalAlignment="center"></Image>
                <Label class="h1 headding text-center" text="About this App"></Label>
                <Label class="h3 text text-center" text="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."></Label>

            </ns:CarouselItem>

            <ns:CarouselItem id="slide2" backgroundColor="#b3cde0" backgroundImage="res://tscreen2">
                <Image src="res://pointstoplogowithtxt" class="logotext" stretch="none" horizontalAlignment="center"></Image>
                <Label class="h1 headding text-center" text="More About"></Label>
                <Label class="h3 text text-center" text="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."></Label>
            </ns:CarouselItem>

            <ns:CarouselItem id="slide3" backgroundColor="#b3cde0" backgroundImage="res://tscreen3">
                <Image src="res://pointstoplogowithtxt" class="logotext" stretch="none" horizontalAlignment="center"></Image>
                <Label class="h1 headding text-center" text="One more tutorial screen "></Label>
                <Label class="h3 text text-center" text="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."></Label>
            </ns:CarouselItem>

            <ns:CarouselItem id="slide4" backgroundColor="#b3cde0" backgroundImage="res://tscreen4">
                <Image src="res://pointstoplogowithtxt" class="logotext" stretch="none" horizontalAlignment="center"></Image>
                <Label class="h1 headding text-center" text="One more tutorial screen"></Label>
                <Label class="h3 text text-center" text="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."></Label>
            </ns:CarouselItem>

            <ns:CarouselItem id="slide5" backgroundColor="#b3cde0" backgroundImage="res://tscreen5">
                <Image src="res://pointstoplogowithtxt" class="logotext" stretch="none" horizontalAlignment="center"></Image>
                <Label class="h1 headding text-center" text="Terms and Conditions"></Label>
                <Label class="h2 text-center" style="margin-top:20;" text="Do you agree with our"></Label>
                <Label class="h2 text-center" color="#13acb7" style="text-decoration:underline;" text="Terms and Conditions?"></Label>
                <CheckBox #CB1 text="Agree" style="margin-top:20;" color="white" fontSize="30" tintColor="#13acb7" onTintColor="green" onCheckColor="red" checked="false" fillColor="#13acb7" horizontalAlignment="center"></CheckBox>
            </ns:CarouselItem>
        </ns:Carousel>
        <label class="text-center" backgroundColor="transparent" [text]="isLast ? 'GO!' : 'Skip Tutorial'" style="padding: 0; margin-bottom: 40; color: white;" verticalAlignment="bottom" (tap)="agreePage()"></label>
    </GridLayout>

</StackLayout>