<ScrollView>
    <StackLayout style="padding:20" #container>
        <Image src="res://pointstoplogoicon" stretch="none" horizontalAlignment="center"></Image>
        <Label class="h1 text-center" style="color:white;" text="Welcome to" horizontalAlignment="center"></Label>
        <Image src="res://pslogotext" stretch="none" horizontalAlignment="center"></Image>
        <Label class="h2 text-center" textWrap="true" style="color:white;" text="Please, enter your Phone" horizontalAlignment="center"></Label>
        <Label class="body text-center" textWrap="true" style="color:white; margin-bottom: 10;" text="We will send you an SMS with confirmation code" horizontalAlignment="center"></Label>
        <StackLayout>
            <Label class="h2 text-center txtLable" style="color:white; margin-bottom:10;" text="{{ phone.number }}" horizontalAlignment="center" [class.hidden]="!isSMS" [class.visible]="isSMS"></Label>

            <TextField borderRadius="5" borderWidth="1" borderColor="#FFFFFF" class="input input-border txtField" hint="Phone Number" keyboardType="phone" [(ngModel)]="phone.number" editable="{{ !isSMS }}" visibility="{{ isSMS ? 'collapsed' : 'visible'}}" autocorrect="false"
                autocapitalizationType="none"></TextField>

            <TextField borderRadius="5" borderWidth="1" borderColor="#FFFFFF" class="input input-border txtField" hint="SMS Code" keyboardType="phone" [class.hidden]="!isSMS" [class.visible]="isSMS" autocorrect="false" autocapitalizationType="none"></TextField>

            <Button [text]="isSMS ? 'Verify' : 'Send SMS'" class="round-button" (tap)="submit()"></Button>
            <Label class="h3 text-center" style="color:white; margin-top:10;" fontWeight="bold" text="RESEND SMS" horizontalAlignment="center" [class.hidden]="!isSMS" [class.visible]="isSMS" (tap)="resend()"></Label>
        </StackLayout>
    </StackLayout>
</ScrollView>