/* StackLayout {
    margin-top: 30;
  margin-left: 30;
  margin-right: 30;
}

Image {
    margin-top: 5;
    margin-bottom: 10;
}

Button,
TextField {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
}

.submit-button {
    background-color: #fff;
    color: #13acb7;
    border-radius: 5;
    margin-top: 20;
}

.round-button {
    background-color: #fff;
    color: #13acb7;
    border-radius: 50%;
    font-size: 20;
    padding: 15;
    white-space: normal;
    margin-top: 20;
    margin-left: 10;
    margin-right: 10;
}

.disabled {
    background-color: rgba(255, 255, 255, 0.62);
    color: rgba(19, 172, 183, 0.78);
}

.hidden {
    visibility: collapse;
    opacity: 0;
}

.visible {
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes show {
    from {
        visibility: collapse;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
} */